In [1]:
#import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("dados_limpos1.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29685 entries, 0 to 29684
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          29685 non-null  object
 1   LIMIT_BAL                   29685 non-null  int64
 2   SEX                         29685 non-null  int64
 3   EDUCATION                   29685 non-null  int64
 4   MARRIAGE                    29685 non-null  int64
 5   AGE                         29685 non-null  int64
 6   PAY_1                       29685 non-null  object
 7   PAY_2                       29685 non-null  int64
 8   PAY_3                       29685 non-null  int64
 9   PAY_4                       29685 non-null  int64
 10  PAY_5                       29685 non-null  int64
 11  PAY_6                       29685 non-null  int64
 12  BILL_AMT1                   29685 non-null  int64
 13  BILL_AMT2                   29685 non-null  int64
 14  BILL_AMT3                   29685 non-null  int64
 15  BILL_AMT4                   29685 non-null  int64
 16  BILL_AMT5                   29685 non-null  int64
 17  BILL_AMT6                   29685 non-null  int64
 18  PAY_AMT1                    29685 non-null  int64
 19  PAY_AMT2                    29685 non-null  int64
 20  PAY_AMT3                    29685 non-null  int64
 21  PAY_AMT4                    29685 non-null  int64
 22  PAY_AMT5                    29685 non-null  int64
 23  PAY_AMT6                    29685 non-null  int64
 24  default payment next month  29685 non-null  int64
dtypes: int64(23), object(2)
memory usage: 5.7+ MB

In [4]:
df["PAY_1"].head()

0     2
1    -1
2     0
3     0
4    -1
Name: PAY_1, dtype: object

In [6]:
df["PAY_1"].value_counts()

0                13087
-1                5047
1                 3261
Not available     3021
-2                2476
2                 2378
3                  292
4                   63
5                   23
8                   17
6                   11
7                    9
Name: PAY_1, dtype: int64

### Encontrando e removendo os dados que são NaN's

In [7]:
mascara_valores_validos_pagamento1 = df["PAY_1"] != "Not available"

In [8]:
mascara_valores_validos_pagamento1.head(5)

0    True
1    True
2    True
3    True
4    True
Name: PAY_1, dtype: bool

### contagem de dados validos

In [9]:
sum(mascara_valores_validos_pagamento1)

26664

### remoção das linhas de dados marcadas com "Not available"

In [14]:
df_limpo2 = df.loc[mascara_valores_validos_pagamento1, :].copy()

In [15]:
df_limpo2.shape

(26664, 25)

In [16]:
df_limpo2["PAY_1"] = df_limpo2["PAY_1"].astype('int64')

### checando novamente

In [18]:
df_limpo2[["PAY_1","PAY_2"]].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26664 entries, 0 to 29684
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PAY_1   26664 non-null  int64
 1   PAY_2   26664 non-null  int64
dtypes: int64(2)
memory usage: 624.9 KB

### Salvando os dados limpos

In [19]:
df_limpo2.to_csv("dados_limpos2.csv", index=False)