## Descrição dos dados

<div>

<p>This research employed a binary variable, default payment (Yes = 1, No = 0), as the response variable. This study reviewed the literature and used the following 23 variables as explanatory variables:
X1: Amount of the given credit (NT dollar): it includes both the individual consumer credit and his/her family (supplementary) credit.</p>
    
<p>This research employed a binary variable, default payment (Yes = 1, No = 0), as the response variable. This study reviewed the literature and used the following 23 variables as explanatory variables:</p>
<p>X2: Gender (1 = male; 2 = female).</p>
<p>X3: Education (1 = graduate school; 2 = university; 3 = high school; 4 = others).</p>
<p>X4: Marital status (1 = married; 2 = single; 3 = others).</p>
<p>X5: Age (year).</p>
<p>X6 - X11: History of past payment. We tracked the past monthly payment records (from April to September, 2005) as follows: X6 = the repayment status in September, 2005; X7 = the repayment status in August, 2005; . . .;X11 = the repayment status in April, 2005.</p>

<p>The measurement scale for the repayment status is: -1 = pay duly; 1 = payment delay for one month; 2 = payment delay for two months; . . .; 8 = payment delay for eight months; 9 = payment delay for nine months and above.</p>
    

<p>X12-X17: Amount of bill statement (NT dollar). X12 = amount of bill statement in September, 2005; X13 = amount of bill statement in August, 2005; . . .; X17 = amount of bill statement in April, 2005.
X18-X23: Amount of previous payment (NT dollar). X18 = amount paid in September, 2005; X19 = amount paid in August, 2005; . . .;X23 = amount paid in April, 2005.</p>

Referencia: https://archive.ics.uci.edu/ml/datasets/default+of+credit+card+clients

</div>

In [1]:
import numpy as np
import pandas as pd

## Leitura

In [4]:
df = pd.read_excel("default_of_credit_card_clients__courseware_version_1_21_19.xls")

In [5]:
df.head(3)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,798fc410-45c1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,8a8c8f3b-8eb4,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,85698822-43f5,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0

In [6]:
df.ID.count() # total de clientes

30000

In [9]:
df.ID.unique() # clientes sem duplicação de ID

29687

In [12]:
id_count = df.ID.value_counts()

In [14]:
id_count.head() # clientes duplicados

ad23fe5c-7b09    2
1fb3e3e6-a68d    2
89f8f447-fca8    2
7c9b7473-cc2f    2
90330d02-82d9    2
Name: ID, dtype: int64

## remoção de valores duplicados

In [24]:
mascara_id_duplicado = id_count >1

In [25]:
id_count.iloc[:5]

ad23fe5c-7b09    2
1fb3e3e6-a68d    2
89f8f447-fca8    2
7c9b7473-cc2f    2
90330d02-82d9    2
Name: ID, dtype: int64

In [26]:
# Obtendo os indices dos id's duplicados

ids_duplos = id_count.index[mascara_id_duplicado]

In [27]:
ids_duplos = list(ids_duplos)

In [28]:
len(ids_duplos) # Quanidades de clientes duplicados na base de dados

313

In [30]:
# checando os valores dos ids duplicados
df.loc[df["ID"].isin(ids_duplos[0:3]), :]

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
5033,89f8f447-fca8,320000,2,2,1,32,0,0,0,0,...,169371,172868,150827,8000,8000,5500,6100,6000,5000,0
5133,89f8f447-fca8,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16727,1fb3e3e6-a68d,80000,1,2,2,33,2,2,0,0,...,27394,29922,31879,0,2000,2000,3000,2600,0,1
16827,1fb3e3e6-a68d,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29685,ad23fe5c-7b09,50000,1,3,1,32,0,0,0,0,...,12882,8131,3983,3000,2871,1000,163,3983,3771,1
29785,ad23fe5c-7b09,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [31]:
df_dados_zerados = df == 0

In [32]:
df_dados_zerados = df_dados_zerados.iloc[:,1:].all(axis=1)

## Salvando os dados limpos

In [34]:
df_limpo = df.loc[~df_dados_zerados, :].copy()

In [41]:
# os dados duplicados foram removidos!
df_limpo["ID"].nunique()

29685

In [42]:
df_limpo.to_csv("dados_limpos1.csv", index=False)